################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/0625/x64
/.vs/0625/v16
/ipch
/x64/Debug
/.vs/0625/v15/Browse.VC.opendb
/x64/Release
